<div
    class="chat-category-container"
    @dragover.prevent="handleDragOver"
    @dragleave.prevent="handleDragLeave"
    @drop.prevent="handleDrop"
    :class="{'empty-category': !groupChatObjects || groupChatObjects.length === 0 }"
>
    <h2>{{ chatCategoryName }}</h2>
    <p v-if="groupChatObjects.length === 0" class="empty-category-msg">No chats, drag something here!</p>
    <ul>
        <li 
            v-for="chat in groupChatObjects" 
            :key="chat?.value?.object?.channel"
            draggable="true"
            @dragstart="handleDragStart($event, chat)"
            @dragend="handleDragEnd"
            class="chat-item-enter"
        >
            <span class="grip-handle">⋮⋮⋮</span>
            <span class="chat-name">
                {{ chat?.value?.object?.name }}
                <graffiti-discover
                    v-slot="{ objects: messageObjects }"
                    :channels="[chat?.value?.object?.channel]"
                    :schema="{
                        properties: {
                            value: {
                                required: ['content', 'published'],
                                properties: {
                                    content: { type: 'string' },
                                    published: { type: 'number' }
                                }
                            }
                        }
                    }"
                >
                    <small v-if="messageObjects.length > 0" class="recent-message">
                        - {{ $root.removeURLFromUsername(messageObjects.sort((a, b) => b.value.published - a.value.published)[0].value.actor) }}: {{ messageObjects.sort((a, b) => b.value.published - a.value.published)[0].value.content }}
                    </small>
                </graffiti-discover>
            </span>
            <div class="chat-actions">
                <button 
                    @click="$emit('enter-chat', chat)"
                    :disabled="currentChatObject && currentChatObject.channel === chat?.value?.object?.channel"
                    title="Enter Chat"
                >
                    Enter
                </button>
                <button 
                    @click="$emit('leave-channel', chat)"
                    class="leave-btn inverted-btn"
                    title="Leave Channel"
                >
                    Leave
                </button>
            </div>
        </li>
    </ul>
</div> 