<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MsgCtrl</title>
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.esm-browser.js",
                    "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@4.5.0/dist/vue-router.esm-browser.prod.js",
                    "@graffiti-garden/implementation-local": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-local@0.6.4/dist/browser/index.js",
                    "@graffiti-garden/implementation-remote": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-remote@0.6.2/dist/browser/index.js",
                    "@graffiti-garden/wrapper-vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-vue@0.7.2/dist/browser/plugin.mjs",
                    "./chat-category.js": "./chat-category.js",
                    "./schema.js": "./schema.js"
                }
            }
        </script>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
            <header>
                <nav>
                    <button v-if="!$graffitiSession.value" @click="$graffiti.login()">
                        Log In
                    </button>
                    <template v-else>
                        <button @click="$graffiti.logout($graffitiSession.value)">
                                Log Out
                            </button>
                    </template>
                    <button  v-if="$graffitiSession.value" @click="$router.push('/profile/' + removeURLFromUsername($graffitiSession.value.actor))">Profile</button>
                </nav>
                <div class="header-content">
                    <h1><router-link to="/">MsgCtrl</router-link></h1>
                    <p class="slogan">A Mission Control for your messages</p>
                </div>
            </header>

 
            <router-view></router-view>

            <div v-if="$graffitiSession.value">
    
                <div v-if="isLoading">
                    <img src="img/loader.svg" class="loader" alt="Loading" />
                </div>
            </div>
        </div> 
        <script src="index.js" type="module"></script>
    </body>
</html>
